* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: rgb(46, 42, 42);
}

.container {
  width: 80dvw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.heading {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 3rem;
}

.wrapper {
  display: flex;
  gap: 5rem;
}

.wrapper img {
  width: 200px;
  aspect-ratio: 1 / 1.5
}

.wrapper .book {
  background: rgba(255, 255, 255, .05);
  padding: 2rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, .2)
}

.wrapper .book .content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.wrapper .book .content p:nth-child(1) {
  font-weight: 700;
}

.wrapper .book .content p:nth-child(2) {
  opacity: .7;
}

header {
  position: fixed;
  top: 0;
  width: 100dvw;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 0;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header li {
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .2em;
  cursor: pointer;
}

header li:hover {
  color: hsl(348, 41%, 49%);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}

button {
  background: rgba(255, 255, 255, .05);
  color: #ffffff;
  padding: 12px 16px;
  border: 1px solid hsl(348, 41%, 49%);
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
}

button:active {
  transform: translateY(-5%);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
}